<br><br><br><br><br>
    <div class="jumbotron jumbotron-fluid" style="width: 70%; margin-left:15%; margin-right:15%; background-color:#E6F4EA">

        <h1 style="text-align: center;">La mesa ya tiene una orden</h1>
        <h1 style="text-align: center;">¿Desea agregar el pedido a la orden?</h1>
          <hr class="my-4">
          <div style="align-items: center; text-align:center;">
          <a class="btn btn-outline-success" href="/api/mascom" role="button">Continuar</a>
          <a class="btn btn-outline-danger" href="/api/inicio" role="button">Cancelar</a>
          </div>
    </div>