<body style="background-image:url(https://img.wallpapersafari.com/desktop/1920/1080/59/90/U8BH5o.jpg)">
    <br><br><br>
    <h1 class="display-3" style="text-align: center;">Tipos de cambio</h1>
<table id="myTable" align ='center' class="table table-striped table-responsive-md btn-table" style="background-color: #ffff;width:70%; ">
    <thead>
        <tr>
            <th class="th-sm"></th>
            <th class="th-sm">Fecha</th>
            <th class="th-sm">Tipo de cambio</th>
            <th class="th-sm"></th>
        </tr>
    </thead>

    <tbody>
        {{#TipoCambio}}
        <tr> <br>
            <td></td>
            <td>{{Fecha}}</td>
            <td>${{tc}}</td>
            <td></td>
        </tr>
        {{/TipoCambio}}
    </tbody>
</table>
        <a href="/api/admin"><button style="margin-left : 70%;" type="button" class="btn btn-primary btn-lg">Regresar</button></a>
</body>